<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<!-- Dialog end -->

<p-card>
    <h4 class="text text-primary">Edit To Do</h4>
    <div *ngIf="!updateMode">
      <div class="grid">

        <div class="col-8 md:col-4 mb-4 px-5">
            <div class="text-700 mb-1 font-medium text-green-500"><i class="pi pi-calendar mr-1"></i>
              Title:</div>
            <span class="text-900 line-height-3">{{todo?.title}}</span>
          </div>

          <div class="col-8 md:col-4 mb-4 px-5">
            <div class="text-700 mb-1 font-medium text-green-500"><i class="pi pi-calendar mr-1"></i>
              Done:</div>
            <span class="text-900 line-height-3">{{todo?.done}}</span>
          </div>

       
       

      </div>
      <div>
        <hr />
        <div class="flex justify-content-between w-full">
          <button pRipple pButton pRipple type="button" label="Go Back" (click)="goBack()" class=" p-button-warning"
            icon="pi pi-arrow-left" iconPos="left"></button>

          <div>
            <button pButton pRipple icon="pi pi-trash" iconPos="right" type="button" label="Delete" (click)="deleteTodo()"
              class="p-button-danger"></button>

            <button pButton pRipple icon="pi pi-pencil" iconPos="right" type="button" label="Edit" (click)="editdotoForm()"
              class="p-button-primary ml-5  mr-1"></button>
          </div>
        </div>
      </div>
    </div>

   

    <div *ngIf="updateMode">

        <form [formGroup]="todoForm" (ngSubmit)="updateTodo()">

          

            <div class="card">
                <div class="formgrid grid">
                   
                        <div class="field col-12 md:col-12">
                            <label for="name"><b>Title</b> <span class="p-error"> *</span></label>
                            <input id="full_name" type="text" formControlName="name"
                            class="text-base text-color surface-overlay
                            p-2 border-1 border-solid surface-border border-round appearance-none outline-none
                            focus:border-primary w-full"
                            required> <br>
                            <small class="p-error" *ngIf="todoFormControls['title'].errors?.['required']
                            && todoFormControls['title'].touched">
                              Title is required
                            </small>
                            <br>
                         </div> 
<!-- 
                               <div style="float:right;" class="container"> 
                                <button pButton type="submit" label="Update" class="p-button-primary ml-3 justify-self-right"></button></div> -->

                             
                                <div class="field col-12 md:col-12">
                                  <hr />
                                  <div class="flex justify-content-between w-full">
                                    <button pRipple pButton pRipple type="button" label="Go Back" (click)="goBack()" class=" p-button-warning"
                                      icon="pi pi-arrow-left" iconPos="left"></button> 
                          
                                    <div>
                                      <button pButton pRipple icon="pi pi-user-edit" iconPos="right" type="button" label="Update" (click)="updateTodo()"
                                        class="p-button-success"></button>
                        
                                    </div>
                                  </div>
                                </div>
                             
            </div></div>


        </form>


</div>
</p-card>
